.carousel {
   width: 350px;
   margin-bottom: 10%;
}
.custom-tag {
    width: 350px;
    height: 350px;
    background: black;
}

.control {
    color: #333333;
}

@media (max-width: 812px) {
    .carousel {
        max-width: 300px;
        max-width: 500px;
    }
}