.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.main {
    background-color: #eeeeee;
    min-height: 1000px;
    height: 100%;
    padding: 10px 0;
    flex: 1;
    display: flex;
    justify-content: center;
    flexdirection: column;
    justifycontent: center;
    alignitems: center;
}
